<nz-layout>
  <nz-content>
    <div class="inner-content">
      <div nz-row>
        <div nz-col nzSpan="14" nzOffset="5">
          <h1>Kibble guide users</h1>
          <app-user-form></app-user-form>
          <nz-list nzItemLayout="horizontal">
            <nz-list-item *ngFor="let user of users$ | async">
              <ng-container>
                <nz-tag [nzColor]="'cyan'">{{ user.firstName }}</nz-tag>
                <ul nz-list-item-actions>
                    <nz-list-item-action>
                        <nz-switch
                        [(ngModel)]="user.hasCat"
                        (click)="changeStatus(user)"
                        nz-tooltip
                        nzTooltipTitle="Change User Status"
                        >
                        </nz-switch>
                    </nz-list-item-action>
                    <nz-list-item-action>
                        <button
                        nz-button
                        nzType="primary"
                        nzDanger
                        nz-popconfirm
                        nzPopconfirmTitle="Are you sure you want to delete?"
                        nzPopconfirmPlacement="top"
                        (nzOnConfirm)=deleteUser(user)
                        (nzOnCancel)="cancel()">
                            X
                        </button>
                    </nz-list-item-action>
                </ul>
              </ng-container>
            </nz-list-item>
          </nz-list>
        </div>
      </div>
    </div>
  </nz-content>
</nz-layout>
